# ----------------------------------------
# Node
# ----------------------------------------
node_modules/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------------
# Environment
# ----------------------------------------
.env*
*.local

# ----------------------------------------
# Build outputs
# ----------------------------------------
dist/
dist-ssr/
build/
.out/
.next/
.releases/
.nitro/
.tanstack/
.turbo/
.cache/
cache/
*.tsbuildinfo

# ----------------------------------------
# Testing
# ----------------------------------------
coverage/
count.txt

# ----------------------------------------
# OS
# ----------------------------------------
.DS_Store

# ----------------------------------------
# Misc
# ----------------------------------------
*.pem

# ----------------------------------------
# Editors
# ----------------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnp
.pnp.js

#-----------------------------------------
# Release
# ----------------------------------------
releases/ 